.fi {
	display: inline-block;
	font-family: 'Fate Core';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 1.4em;
	line-height: 1;

	&-attack::before {
		content: 'A';
	}

	&-create::before {
		content: 'C';
	}

	&-defend::before {
		content: 'D';
	}

	&-overcome::before {
		content: 'O';
	}
}
